.app {
    padding: 30px;
    display: flex;
}

.app > div {
    margin-right: 50px;
}

.task {
    font-weight: bold;
}

.task-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.btn-active {
    background-color: darkorchid;
    color: white;
    border-radius: 3px;
    border: 2px solid darkorchid;
}